<div class="header clearfix">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li role="presentation" class="active"><a>Home</a></li>
			<li role="presentation"><a ng-href="/ShopListREST/#/newshoplist">Itens da lista</a></li>
			<li role="presentation"><a class="btn btn-danger" ng-href="/ShopListREST/#/login" role="button">Sair</a></li>
		</ul>
	</nav>
	<h3 class="text-muted">Lista de Compras</h3>
</div>

<div>
	<div class="alert alert-warning alert-dismissible" role="alert" ng-show="warngings.length > 0">
	  <button type="button" class="close" data-dismiss="alert" ng-click="resetMessage()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  
	  	<div ng-repeat="warn in warnings">
	  		<strong>{{ warn.name }}:</strong> {{warn.message}}.
		</div>
	</div>
	<div class="alert alert-success alert-dismissible" role="success" ng-show="successes.length > 0">
	  <button type="button" class="close" data-dismiss="alert" ng-click="resetMessage()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  
	  	<div ng-repeat="success in successes">
	  		<strong>{{ success.name }}:</strong> {{success.message}}.
		</div>
	</div>
	<div class="alert alert-danger alert-dismissible" role="error" ng-show="errors.length > 0">
	  <button type="button" class="close" data-dismiss="alert" ng-click="resetMessage()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  
	  	<div ng-repeat="error in errors">
	  		<strong>{{ error.name }}:</strong> {{error.message}}.
		</div>
	</div>
	<div class="jumbotron">
		<h2>Vamos começar? Escolha um lista ou Cadastre uma nova</h2>
	</div>
	<div class="row-fluid">
		<a class="btn btn-primary" ng-href="/ShopListREST/#/newshoplist">Cadastrar nova lista</a>
	</div>
	<div>
		<table class="table table-hover" ng-show="shoplists.length > 0">
			<thead>
		        <tr>
		          <th>Nome da Lista</th>
		          <th></th>
		        </tr>
	      </thead>
	      <tbody>
			<tr ng-repeat="list in shoplists" ng-show="list.listName != ''">
				<td>{{ list.listName }}</td>
				<td>
					<a ng-href="{{ '#/newshoplist/' + list.id }}"><button class="btn btn-primary btn-small pull-right"><span class="glyphicon glyphicon-plus"></span> Detalhes</button></a>
					<button class="btn btn-danger btn-small pull-right" ng-click="deleteShoplist(list)"><span class="glyphicon glyphicon-remove"></span> Remover</button>
				</td>
			</tr>	      	
	      </tbody>
		</table>
	</div>
</div>
