<div ng-controller="ShopListController">
<div class="header clearfix">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li role="presentation" class="active"><a ng-href="/ShopListREST/#/">Home</a></li>
			<li role="presentation"><a ng-href="/ShopListREST/#/">Itens da lista</a></li>
			<li role="presentation"><a class="btn btn-danger" ng-href="/ShopListREST/#/login" role="button">Sair</a></li>
		</ul>
	</nav>
	<h3 class="text-muted">Lista de Compras</h3>
</div>

<div>
	<div class="alert alert-warning alert-dismissible" role="alert" ng-show="warngings.length > 0">
	  <button type="button" class="close" data-dismiss="alert" ng-click="resetMessage()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  
	  	<div ng-repeat="warn in warnings">
	  		<strong>{{ warn.name }}:</strong> {{warn.message}}.
		</div>
	</div>
	<div class="alert alert-success alert-dismissible" role="success" ng-show="successes.length > 0">
	  <button type="button" class="close" data-dismiss="alert" ng-click="resetMessage()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  
	  	<div ng-repeat="success in successes">
	  		<strong>{{ success.name }}:</strong> {{success.message}}.
		</div>
	</div>
	<div class="alert alert-danger alert-dismissible" role="error" ng-show="errors.length > 0">
	  <button type="button" class="close" data-dismiss="alert" ng-click="resetMessage()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  
	  	<div ng-repeat="error in errors">
	  		<strong>{{ error.name }}:</strong> {{error.message}}.
		</div>
	</div>
	<div class="jumbotron">
		<h2>Bem vindo. Vamos começar</h2>
	</div>

	<form class="form-horizontal" name="form" ng-submit="submitShoplistName()">
		<div class="form-group">
			<label for="shopListName" class="col-sm-2 control-label">Nome da Lista</label>
			<div class="col-sm-10">
				<input type="text" required class="form-control" id="shopListName" ng-model="shoplistName" placeholder="Ex: Lista de compras do churrasco">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Salvar e adicionar itens</button>
			</div>
		</div>
	</form>
</div>
</div>